/* WIPHeader Styles */
.wip-header-container {
    text-align: center;
    padding: 50px 20px;
    height: 100vh; /* Full viewport height */
    background-color: #000000; /* Light background for contrast */
  }
  
  .wip-header-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: yellow; /* Base text color */
    background: repeating-radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 1px,
      rgba(0, 0, 0, 0.1) 2px
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

.wip-header-links {
display: flex;
justify-content: center;
align-items: center;
gap: 20px; /* Space between links */
}

.wip-link {
text-decoration: none;
font-size: 1.2rem;
font-weight: 500;
color: #fff6f6; /* Link color */
transition: color 0.3s ease;
}

.wip-link:hover {
color: yellow; /* Darker color on hover */
}

.wip-divider {
width: 1px;
height: 20px;
background-color: grey; /* Divider color */
}
  /* Double arrow styles */
.double-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.arrow {
width: 30px;
height: 30px;
border-right: 5px solid yellow;
border-bottom: 5px solid yellow; /* Change from border-bottom to border-top */
animation: bounce 1.5s infinite;
}

/* Add spacing between the arrows */
.arrow + .arrow {
margin-top: 10px;
}

/* Bounce animation */
@keyframes bounce {
0%, 100% {
    transform: translateY(0) rotate(45deg);
}
50% {
    transform: translateY(10px) rotate(45deg);
}
}

/* Fade-in animation for the arrows */
.animate-fade-in {
opacity: 0;
animation: fadeIn 1s ease-in-out forwards;
animation-delay: 2s; /* Delay the appearance by 2 seconds */
}

@keyframes fadeIn {
to {
    opacity: 1;
}
}

/* Update for responsive design */
@media (max-width: 768px) {
  .wip-header-links {
    flex-direction: column; /* Arrange links vertically */
    gap: 0; /* Remove horizontal spacing */
  }

  .wip-link {
    padding: 10px 0; /* Add vertical padding for better spacing */
  }

  .wip-divider {
    width: 100%; /* Full width divider */
    height: 1px; /* Horizontal line */
    background-color: grey; /* Divider color */
  }
}